<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for placing your order!! Below is your order summary.</h1>
      <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Description</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <div class="line-items">
          <% @order.line_items.each do |my_order|%>
            <tr>
              <td><%= image_tag  my_order.product.image.tiny %></td>
              <td> <%= my_order.product.name %></td>
              <td><%= my_order.product.description %></td>
              <td><%= (my_order.total_price_cents) / 100 %></td>
            </tr>
          <% end %>
         </div>
      </tbody>
      <tfoot>
        <tr>
        </tr>
      </tfoot>
    </table>
  </div>
  </body>
</html>